<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup] = "UserProfile">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-error  *ngIf="UserProfileFormControl.UserName.errors?.required">
              UserName is required</mat-error>
            <input matInput placeholder="Username" formControlName="UserName">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-error  *ngIf="UserProfileFormControl.Password.errors?.required">
              Password is required</mat-error>
            <input matInput placeholder="Password" type="password" formControlName="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" (click) = "ValidateEmployee()"  class="btn-block">Log in</button>
      </form>
    </mat-card>
    
  </div>